<h1>Artist</h1>

<h2><%= @artist.name %></h2>
<ul>
    <h3><%= @artist.songs.each do |song| %>
        <div><%= song.title %>
        <%= link_to song.title, song_path(song) %></div>
    <% end %>
</ul>
